# Entorno virtual
venv/
ENV/
env/
.venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*$py.class

# Archivos de configuración y logs
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Archivos de entorno
.env
.env.*

# Archivos de bases de datos
*.sqlite3
*.db

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de herramientas de desarrollo
.idea/
.vscode/
*.swp
